*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}
body {
    background-color: rgb(101, 214, 234);
}

.container{
    margin: 20px auto;
    width: 90%;
}

.btn-danger{
    margin: 0 2.5px;
    background-color: rgb(222, 59, 86);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.btn-danger:hover{
    background-color: rgb(237, 85, 110);
    cursor: pointer;
}

.btn-edit{
    margin: 0 2.5px;
    background-color: #f6c832;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.btn-edit:hover{
    background-color: #ffdd6c;
    cursor: pointer;
}

.inputField{
    border: none;
    border-radius: 100px;
    padding: 20px 50px;
    margin: auto;
    text-align: center;
    display: block;

}
.formSubmit{
    display: block;
    border: none;
    border-radius: 100px;
    color: white;
    background: linear-gradient(#ffad50, #fb8c1d);
    box-shadow: 0px 5px 5px #d16e0a;
    padding: 10px 20px;
    width: 200px;
    margin: 20px auto;
    cursor: pointer;
}
.formSubmit:hover{
    background: linear-gradient(#ffb866, #f79029);
    box-shadow: none;
    margin: 24px auto;
}

